.carousel-item img {
    max-height: 300px; /* establece la altura máxima */
    width: $witdht-ancho-total; /* asegura que la imagen se expanda para llenar el contenedor */
    object-fit: cover; /* mantiene la relación y cubre completamente el contenedor */
    margin: auto;
}

.carousel-caption h5,
.carousel-caption p {
    text-shadow: $miSombraDeTexto; /* Ajusta los valores según tu preferencia */
}
.btn-descubre {
    background-color: #5a5d5abe; /* Color de fondo */
    color: white; /* Color del texto */
    font-weight: bold; /* Negrita */
    border: none; /* Sin borde */
}

.btn-descubre:hover {
    background-color: #c9ced3; /* Cambio de color al pasar el mouse */
}

/* Estilo para el botón "Hablemos" */
.btn-hablemos {
    @extend .btn-descubre;
}

.btn-hablemos:hover {
    background-color: #c9ced3; /* Cambio de color al pasar el mouse */
}