$miSombraDeTexto: 2px 2px 4px rgba(0, 0, 0, 0.5);
$witdht-ancho-total: 100%;
$height-altura-total: 100%;

$fuentes: (
    thin:100,
    light:300,
    regular:400,
    medium:500,
    bold:700,
    black:900
);